################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/FinanceManager.API/bin/Debug/net8.0
/src/FinanceManager.API/obj
/src/FinanceManager.Application/bin/Debug/net8.0
/src/FinanceManager.Application/obj
/src/FinanceManager.CrossCutting/bin/Debug/net8.0
/src/FinanceManager.CrossCutting/obj
/src/FinanceManager.Domain/bin/Debug/net8.0
/src/FinanceManager.Domain/obj
/tests/FinanceManager.Application.Tests/bin/Debug/net8.0
/tests/FinanceManager.Application.Tests/obj
/tests/FinanceManager.Domain.Tests/bin/Debug/net8.0
/tests/FinanceManager.Domain.Tests/obj
/src/FinanceManager.Infrastructure/bin/Debug/net8.0
/src/FinanceManager.Infrastructure/Migrations
/src/FinanceManager.Infrastructure/obj
/src/FinanceManager.Infrastructure/financeiro.db
/src/FinanceManager.Infrastructure/Financeiro.db-shm
/src/FinanceManager.Infrastructure/Financeiro.db-wal
